
/*syling for the main body, background, and wrapper*/
html {
	box-sizing: border-box;
}

.background{
	background-image: url("./images/cool-background.png");
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}

/*adding particle effects to the welcome screen
and adding welcome Screen Title style*/
#particles-js{
    height: 100%;
	position: absolute;
	width: 100%;
	min-width: 100%;
}

.welcomeScreenTitle {
	font-size: 4rem;
	text-align: center;
	margin: 0 auto;
	padding-top: 20%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 60%;
	margin: 0 auto;
}

/*styling basic elements h1, h2, h3, h4, p, a*/
h1 {
	font-size: 4rem;
	
}

h2 {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 1%;
}
h3{
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

p {
	font-size: 1.5rem;
}

a, a:visited{
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}


/*
	general styling for the header, aswell as the class .pointer which is 
	used to make the dark/light mode button look the same as other buttons.
*/
header {
	border-radius: 5px;
}

header h1, header p {
	text-align: center;
	
}

.pointer {
	cursor: pointer;
}

header ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 60%;
	margin: 0 auto;
}
header ul  li{
	list-style-type: none;
	padding: 1%;
	margin-bottom: 1%;
	font-size: 1.7rem;
}
header ul  li a, header ul  li a:visited {
	color: black;
}

/*syling body elements and main elements of the page aboutMe, Projects,
Resume, and Contact*/
body {
	font-family: 'Nunito', 'Open Sans', arial, sans-serif;
	
}

.aboutMeSection {
	width: 90%;
	margin: 0 auto;
	margin-top: 30%;
}

.aboutMeSection h2 {
	margin-bottom: 0;
}

.aboutMeSection p {
	border: 0px solid red;
	flex-basis: 75%;

}

.aboutMeSection img {
	border: 0px solid red;
	border-radius: 20px; 
	flex-basis: 20%;
}

.aboutMeFlex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


.projectsSection {
	width: 90%;
	margin: 0 auto;
}

.resumeSection {
	width: 90%;
	margin: 0 auto;
}
.contactMeSection {
	width: 90%;
	margin: 0 auto;
}

.contactMeSection ul  {
	list-style-type: none;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.contactMeSection li {
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
}

.contactMeSection img {
	border-radius: 20px;
	
}

/*animation and styling for elements that pop*/
/*adds shadow effects to these elements*/

@keyframes popLightAnimation{
	from { }
	to {box-shadow: -3px 3px 10px grey;}
	
}

.popLight {
	border: 0px solid lightgrey;
	border-radius: 5px;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 2%;
	box-shadow: -2px 2px 10px lightgrey;
	
}

.popLight:hover {
	animation-name: popLightAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.popImageLight {
	box-shadow: -2px 2px 10px lightgrey;
}

.popImageLight:hover {
	animation-name: popLightAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards
}

