html {
	box-sizing: border-box;
}


/*
	here are the classes and animations used to start the website with a light background (.backgroundStart), and then be in 
	one of two states, either light or dark (using .lightBackground and .darkBackground) 
*/
.backgroundStart{
	background-image: url("./images/background.png");
}

@keyframes toLightBackground {
	from{
		background: rgba(0,0,0,0.4) url("./images/background.png");
		background-blend-mode: darken;
	}
	to {
		background-image: url("./images/background.png");
	}
}

@keyframes toDarkBackground {
	from{
		background-image: url("./images/background.png");
	}
	to {
		background: rgba(0,0,0,0.4) url("./images/background.png");
		background-blend-mode: darken;
	}
}

.lightBackground {
	animation-name: toLightBackground;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.darkBackground {
	animation-name: toDarkBackground;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

/*
	general styling for headers, paragraphs and links.
*/

h1 {
	font-size: 4rem;
	
}

h2 {
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 1%;
}
h3{
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

p {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*
	general styling for the header, aswell as the class .pointer which is 
	used to make the dark/light mode button look the same as other buttons.
*/
header {
	border-radius: 5px;
}

header h1, header p {
	text-align: center;
	
}

.pointer {
	cursor: pointer;
}

header ul {
	/*border: 5px solid red;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 60%;
	margin: 0 auto;
}

header ul  li{
	list-style-type: none;
	padding: 1%;
	margin-bottom: 1%;
	font-size: 1.7rem;
}

/*
	here are the classes used to style the menu when it is not in the default state (styled above).
	Animations are used to transition between the two states, aswell as classes are used to 
	change the style of buttons and the header between the two states.
*/

@keyFrames menuTransitionToDark {
	from {
		color: black;
	}
	to {
		color: white;
	}
	
}

@keyFrames menuTransitionToLight {
	from {
		color: white;
	}
	to {
		color: black;
	}
	
}

.menuStartPoint {
	text-decoration: none;
	color: black;
}

.darkMenuItem {
	animation-name: menuTransitionToDark;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	text-decoration: none;
}

.lightMenuItem {
	animation-name: menuTransitionToLight;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	text-decoration: none;
}

.lightMenuItem:link, .lightMenuItem:visited {
	text-decoration: none;
}
.lightMenuItem:hover {
	text-decoration: underline;
	color: grey;
	
}

.darkMenuItem:link, .darkMenuItem:visited  {
	text-decoration: none;
}
.darkMenuItem:hover {
	text-decoration: underline;
	color: lightgrey;
	
}

/*
	styling for the body of the page to achieve propper formating of each section and images.
*/

body {
	font-family: 'Nunito', 'Open Sans', arial, sans-serif;
	
}

.aboutMeSection {
	width: 90%;
	margin: 0 auto;
	/*margin-bottom: 50%;*/
}

.aboutMeSection h2 {
	margin-bottom: 0;
}

.aboutMeSection p {
	border: 0px solid red;
	flex-basis: 75%;

}

.aboutMeSection img {
	border: 0px solid red;
	border-radius: 20px; 
	flex-basis: 20%;
}

.aboutMeFlex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


.projectsSection {
	width: 90%;
	margin: 0 auto;
}

.resumeSection {
	width: 90%;
	margin: 0 auto;
}

/* Start of poping animations for light elements.*/

@keyframes popLightAnimation{
	from { }
	to {box-shadow: -3px 3px 10px grey;}
	
}

.popLight {
	border: 0px solid lightgrey;
	border-radius: 5px;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 2%;
	box-shadow: -2px 2px 10px lightgrey;
	
}

.popLight:hover {
	animation-name: popLightAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

/*start of popping animations for dark elements.*/

@keyframes popDarkAnimation{
	from { }
	to {box-shadow: -2px 2px 10px lightgrey;}
	
}

.popDark {
	border: 1px solid lightgrey;
	border-radius: 5px;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 2%;
	box-shadow: -3px 3px 10px grey;
}

.popDark:hover {
	animation-name: popDarkAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

/* Start of animaitons for popping images*/

.popImageLight {
	box-shadow: -2px 2px 10px lightgrey;
}

.popImageLight:hover {
	animation-name: popLightAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards
}

.popImageDark {
	box-shadow: -3px 3px 10px grey;
}

.popImageDark:hover {
	animation-name: popDarkAnimation;
	animation-duration: 0.3s;
	animation-fill-mode: forwards
}

.contactMeSection {
	width: 90%;
	margin: 0 auto;
}

.contactMeSection ul  {
	list-style-type: none;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.contactMeSection li {
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
}

.contactMeSection img {
	border-radius: 20px;
	
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	
	padding: 20px;
	border-radius: 20px;
	
}

.wrapperIntial {
	color: black;
	background-color: #fffffff8;
	filter: brightness(100%);
}

@keyframes lightAnimate {
	from { 
		background-color: #1F1F20;
		color: white;
	}	
	to {
		color: black;
		background-color: #fffffff8;
	}
}

.light {
	animation-name: lightAnimate;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes darkAnimate {
	from { 
		color: black;
		background-color: #fffffff8;
	}
	to {
		background-color: #1F1F20;
		color: white;
	}
}

.dark {
	animation-name: darkAnimate;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}




